body {
    background-color: #F5F0BB;
}

hr {
    border-style: none;
    border-color: #90C8AC;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #73A9AD;
}

h3{
    color: #73A9AD;
}